body, textarea {
    font-family: "微软雅黑", sans-serif;
    font-size: 14px;
}

body, ul, li, h1, h2, h3 {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

input, select, textarea, button, .btn {
    border-radius: 4px;
    padding: 0 5px;
    border: 1px solid #cccccc;
    font-size: 14px;
    line-height: 26px;
    height: 26px;
    outline: none;
}

select, button {
    height: 28px;
}

input, select {
    width: 100px;
}

textarea {
    height: auto;
    resize: none;
}

input[type=checkbox] {
    width: auto;
    height: auto;
    vertical-align: bottom;
}

ul {
    list-style-type: none;
}

label {
    margin-right: 4px;
}

table {
    border: 1px solid #ccc;
    border-spacing: 0;
    border-collapse: separate;
    text-align: center;
    line-height: 28px;
    width: 100%;
}

th, td {
    padding: 5px;
}

th {
    border-bottom: 1px solid #cccccc;
}

tbody tr:hover, .tr-selected {
    background: #f0f0f0;
}

fieldset {
    border: 1px solid #cccccc;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset;
    -webkit-text-fill-color: #555555;
}

#header {
    height: 40px;
    background-color: #2E5E79;
    position: fixed;
    z-index: 98;
    width: 100%;
    top: 0;
    left: 0;
}

#footer {
    height: 0;
    background-color: #222222;
}

.login-body {
    background: url("../image/bg.jpg");
}

.login-box {
    position: fixed;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 40%;
    padding: 50px;
    border: 2px solid rgb(3, 189, 150);
    border-radius: 5px;
}

.login-box label {
    color: #555555;
    font-size: 20px;
    padding: 5px 0;
}

.login-box input {
    padding: 5px;
    color: #555555;
    font-size: 20px;
    border: 1px solid rgb(3, 189, 150);
}

.btn-login {
    width: 100%;
    padding: 0;
    border: none;
    font-size: 24px;
    line-height: 36px;
    height: 38px;
}

.nav {
    background: #1C2B36;
    position: fixed;
    z-index: 99;
    left: 0;
    top: 0;
    height: 100%;
    width: 150px;
}

.nav * {
    vertical-align: middle;
}

.nav-header {
    color: #ffffff;
    padding: 10px;
    cursor: default;
    height: 30px;
}

.nav-body {
    color: rgb(225, 225, 225);
}

.nav img, .header-nav img {
    vertical-align: middle;
    margin-right: 10px;
    margin-bottom: 2px;
    width: 15px;
    height: 15px;
}

.header-nav img {
    margin-right: 5px;
}

.nav-menu-1 {
    font-size: 16px;
}

.nav-menu-2 {
    background: rgba(0, 0, 0, 0.25);
    font-size: 14px;
}

.nav-menu-1 > li {
    cursor: pointer;
    line-height: 40px;
    font-weight: bold;
}

.nav-menu-1 > li:hover, .nav-menu-open {

}

.nav-menu-1 > li > div {
    padding-left: 20px;
    padding-right: 20px;
}

.nav-menu-2 {
    display: none;
}

.nav-menu-1 .triangle {
    float: right;
}

.nav-menu-open .triangle {
    transform: rotate(90deg);
}

.nav-menu-2 li {
    padding-left: 20px;
}

.nav-menu-2 li:hover {
    text-decoration: underline;
}

.nav-menu-2 li span {
    display: inline-block;
    margin-right: 10px;
    text-align: center;
    width: 15px;
}

.nav-menu-active {
    color: rgb(3, 189, 150) !important;
}

.header-nav {
    float: right;
}

.header-nav > li {
    float: left;
    padding: 0 10px;
    line-height: 40px;
    text-align: center;
    color: rgb(225, 225, 225);
    cursor: pointer;
}

.header-nav > li:hover {
    background: #1F4562;
    color: #ffffff;
}

#body {
    padding: 10px;
    position: relative;
    margin-left: 150px;
    margin-top: 40px;
    font-size: 14px;
    color: #333;
}

.dropdown {
    position: relative;
}

.dropdown-menu {
    display: none;
    background: #1F4562;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
}

.dropdown-menu li {
    float: none;
}

.dropdown-menu li:hover {
    background: #1C2B36;
}

.dropdown-menu a {
    color: rgb(225, 225, 225);
}

.tool-box {
    margin: 10px 0;
}

.edit-box, .search-box {
    line-height: 28px;
    height: 28px;
}

.edit-box {
    float: left;
}

.search-box {
    float: right;
}

.edit-box *, .search-box * {
    float: left;
}

.edit-box input, .edit-box select, .search-box input, .search-box select {
    margin-right: 10px;
}

.panel {
    border: 1px solid #e4e9eb;
    border-radius: 4px 4px 0 0;
    margin-bottom: 20px;
}

.panel-head {
    background: #e4e9eb;
    line-height: 40px;
    padding: 0 10px;
    font-weight: bold;
}

.panel-body {
    padding: 10px;
}

.panel-footer {
    padding-left: 10px;
    background-color: #f5f5f5;
    border-top: 1px solid #e4e9eb;
    line-height: 40px;
}

#body:after, .tool-box:after, .edit-box:after, .search-box:after,
.panel-body:after, .pager:after, ul:after, .form-control:after, .btn-group:after {
    content: " ";
    clear: both;
    display: table;
}

.block {
    text-align: center;
    color: rgb(225, 225, 225);
    padding: 10px 0;
    display: inline-block;
    float: left;
}

.block h1 {
    padding: 20px 0;
    color: white;
}

.chart {
    border: 1px solid #cccccc;
}

.pager {
    margin-top: 10px;
}

.pager-list, .pager-jump, .pager-analysis {
    float: left;
    height: 30px;
    line-height: 30px;
}

.pager-analysis {
    float: right;
}

.pager-jump {
    margin-left: 20px;
}

.pager li {
    float: left;
    width: 30px;
    text-align: center;
    cursor: default;
}

.pager a {
    color: #333333;
}

.pager-list a {
    width: 30px;
    display: inline-block;
}

.pager-analysis a {
    text-decoration: underline;
}

.pager-disable {
    color: #666666;
}

.pager-active {
    background: rgb(85, 155, 235);
    color: white;
}

.pager-list a:hover {
    background: skyblue;
    color: white;
}

.pager-to-num {
    width: 24px;
    line-height: 18px;
    height: 18px;
    padding: 2px;
    margin: 0 2px;
    text-align: center;
}

.pager-to-btn {
    margin-left: 5px;
    height: 18px;
    line-height: 18px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 2px 5px;
    display: inline-block;
    background: #ccc;
}

.pager-limit-num {
    width: 55px;
    line-height: 24px;
    height: 24px;
    padding: 2px;
    display: none;
}

.form-control {
    padding: 5px 10px;
}

.form-control > * {
    float: left;
    line-height: 28px;
}

.form-control > label {
    margin-right: 10px;
}

.form-control input, .form-control textarea {
    width: 250px;
}

.form-control select {
    width: 262px;
}

.form-control textarea {
    line-height: 20px;
}

.radio, .checkbox {
    display: inline-block;
    margin-right: 10px;
}

.radio:last-child, .checkbox:last-child {
    margin: 0;
}

.radio input, .checkbox input {
    width: 16px;
    height: 16px;
    margin: 0 5px 0 0;
    vertical-align: middle;
}

.radio label, .checkbox label {
    margin: 0;
}

.perm-list li {
    float: left;
    background: #f0f0f0;
    border: 1px solid #cccccc;
    border-radius: 13px;
    line-height: 20px;
    padding: 3px 5px;
    margin: 0 5px;
    min-width: 50px;
    text-align: center;
    cursor: default;
}

.perm-item-del {
    float: right;
    display: none;
    cursor: pointer;
}

.perm-list li:hover .perm-item-del {
    display: block;
}

.btn, button {
    background: #f0f0f0;
    color: #555555;
    cursor: pointer;
    display: inline-block;
    min-width: 50px;
    text-align: center;
}

.btn-link {
    min-width: unset;
    background: unset;
    border: none;
    color: blue;
    padding: 0;
}

.btn-large {
    padding: 5px 10px;
    font-size: 20px;
}

.btn-group {
    display: inline-flex;
}

.btn-group > .btn {
    border-right-width: 0;
    border-radius: 0;
    float: left;
}

.btn-group > .btn:first-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.btn-group > .btn:last-child {
    border-right-width: 1px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.btn-group > .btn:hover {
    background: rgb(85, 155, 235);
    color: #ffffff;
}

.btn-primary {
    background: rgb(85, 155, 235);
    border: 1px solid rgb(85, 155, 235);
    color: #ffffff;
}

.btn-cancel, .btn-clear {
    margin-left: 10px;
    background: #dddddd;
    color: #666666;
}

.editor {
    background: #fefefe;
    border: 1px dashed #666;
    text-align: center;
    width: 100%;
    padding: 0;
}

.dialog-mask {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(240, 240, 240, 0.2);
    z-index: 98;
    overflow: auto;
    padding-top: 50px;
}

.dialog {
    position: absolute;
    transform: translate(-50%);
    top: 50px;
    left: 50%;
    z-index: 99;
    border: 5px solid #cccccc;
    border-radius: 5px;
    -moz-box-shadow: 0 0 5px #333333;
    -webkit-box-shadow: 0 0 5px #333333;
    box-shadow: 0 0 5px #333333;
    background: #ffffff;
    min-width: 400px;
}

.dialog-header {
    background: #dddddd;
    line-height: 20px;
    padding: 8px 10px;
    color: #333333;
    font-weight: bold;
}

.dialog-body {
    padding: 20px;
}

.dialog-footer {
    text-align: right;
    background: #f0f0f0;
    padding: 5px 10px;
}

.dialog-footer .btn {
    margin-right: 0;
    margin-left: 10px;
}

.dialog .btn-close {
    float: right;
    width: 18px;
    height: 18px;
    color: #cccccc;
    background: white;
    line-height: 18px;
    border-radius: 10px;
    min-width: unset;
    padding: 0;
}

.dialog-container {
    display: none;
}

.alert {
    position: fixed;
    transform: translate(-50%);
    top: 10px;
    left: 50%;
    z-index: 100;
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 10px 50px;
}

.alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.alert-error {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

input.error, textarea.error, select.error {
    border: 1px solid #a94442;
    background-color: #f2dede;
}

.uploader-file-list li {
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 5px;
    padding: 2px 5px;
}

.uploader-btn-upload, .uploader-btn-clear {
    margin-left: 5px;
}

.uploader-btn-group {
    text-align: center;
    margin-top: 20px;
}

.uploader-notice {
    display: table;
    width: 100%;
    text-align: center;
    font-size: 16px;
    border: 1px solid #dddddd;
    border-radius: 5px;
    cursor: pointer;
}

.uploader-notice > div {
    height: 150px;
    display: table-cell;
    vertical-align: middle;
}

.fileTree {
    margin-left: 20px;
    line-height: 26px;
    color: #333333;
}

.fileTree .icon {
    background-size: 16px;
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;
    margin-right: 5px;
    margin-bottom: 2px;
}

.fileTree .folder .icon {
    background-image: url("../image/folder-yellow.png");
}

.fileTree .file .icon {
    background-image: url("../image/file.png");
}

.fileTree .filename {
    cursor: pointer;
}

.hide {
    display: none;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.f12 {
    font-size: 12px;
}

.f14 {
    font-size: 12px;
}

.clear {
    clear: both;
}